mixin c-navicon(o)
   - var mod= o.mod || ""
   - var name= o.name || ""
   button(class="c-navicon" + name + mod)
      span.c-navicon-dash._1
      span.c-navicon-dash._2
      span.c-navicon-dash._3
