.c-navicon
	width 33px
	height: 34px
	display: inline-block
	border none
	vertical-align: middle
	margin-right: 18px
	background-color: transparent
	transition all .4s

	&-dash
		height 6px
		margin-top: 5px
		width 31px
		left 1px
		position: relative
		box-sizing border-box
		display: block
		background-color: #000000
		box-shadow 0 0 0 1px rgba(248,248,248,0.6)
		transition all .4s
		will-change transform

		&:first-child
			margin-top: 0

.c-navicon._open .c-navicon-dash
	background #ffffff
	box-shadow  none

.c-navicon._open .c-navicon-dash._1
	transform rotate(45deg) translateX(7.7px) translateY(7.5px) scale(0.7)

.c-navicon._open .c-navicon-dash._2
	opacity 0
	transform scale(0.7)

.c-navicon._open .c-navicon-dash._3
	transform rotate(-45deg) translateX(8px) translateY(-8px)  scale(0.7)

.c-navicon:not(._open):hover

	& .c-navicon-dash._2
		transform translateY(2px)
		transition all .4s cubic-bezier(.17,.67,.4,1.92)

	& .c-navicon-dash._3
		transform translateY(5px)
		transition all .4s cubic-bezier(.17,.67,.4,1.92)


.c-navicon._open:hover
	transform rotate(90deg)