.popup
  position fixed
  top 0
  left 0
  right: 0
  bottom: 0
  margin: auto
  width 100%
  height 100%
  background rgba(0,0,0,0.85)
  z-index: 10
  visibility hidden
  opacity 0
  transition: all .5s

.popup._open
  visibility visible
  opacity 1

