mixin slider(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	.slider
		.slider-arr._left
		.slider-arr._right
		.slider-viewPort
			.slider-movingPart
				for item in o.data
					if item.act
						.slider-i._act
							img.slider-i-bg(src=item.src, alt='')
					else
						.slider-i
							img.slider-i-bg(src=item.src, alt='')