.slider
	position relative
	width 100%
	overflow hidden
	margin-bottom: 20px

.slider-arr
	position absolute
	top 50%
	width 50px
	height 50px
	background #000
	z-index 1
	transform translateY(-50%)
	&._left
		left 0
	&._right
		right 0

.slider-viewPort
	position relative
	max-width 1045px
	width 100%
	margin 0 auto


.slider-movingPart
	position relative
	left 0
	white-space nowrap
	font-size 0
	width 100%

	&._animated
		transition all 0.6s

.slider-i
	display inline-block
	vertical-align top
	width 100%
	padding 0 15px
	box-sizing border-box
	font-size 16px
	white-space normal
	overflow hidden
	opacity 0.5
	transition all 0.6s

	&._act
		opacity 1

.slider-i-bg
	width 100%
	transform translateZ(0)
	box-shadow: 0 3px 4px rgba(0,0,0,0.1)

@media (max-width: 480px)
	.slider-arr {
		display: none;
	}

	.slider-viewPort {
		overflow-x: scroll;
	}

	.slider-movingPart {
		transform: none !important;
	}

	.slider-i {
		opacity: 1;
	}


