mixin form(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var method = o.method||"post"
	form(class="form"+name+mod, method=method, action="#")
		if block
			block

mixin inputwithlabel(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var ident= o.ident || ""
	- var type= o.type || ""
	- var tx= o.tx || ""
	- var placeholder = o.placeholder || ""
	label(class="form-label"+name+mod, for=ident)=tx
	input(class="form-input"+name+mod, id=ident, type=type, placeholder=placeholder)

mixin input(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var ident= o.ident || ""
	- var type= o.type || ""
	- var placeholder = o.placeholder || ""
	input(class="form-input"+name+mod, id=ident, type=type, placeholder=placeholder)

mixin checkbox(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var ident= o.ident || ""
	input(class="form-input form-input_checkbox"+name+mod, id=ident, type="checkbox")
	label(for=ident)
		if block
			block

mixin submit(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	input(class="form-input form-input_submit"+name+mod, type="submit")