mixin slides(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var itemClass= name?name+"-i":""
	- var tx = o.tx?o.tx:""
	- var arrsClass = name?name+"-arrs":""
	- var arrsItemClass = arrsClass?arrsClass+"-i":""
	- var pagClass = name?name+"-pag":""
	- var pagItemClass = pagClass?pagClass+"-i":""
	div(class="slides"+name)
		if block
			block
		if o.arrows
			div(class="slides-arrs"+arrsClass)
				div(class="slides-arrs-i _left"+arrsItemClass)
				div(class="slides-arrs-i _right"+arrsItemClass)
		if o.paging
			ul(class="slides-pag"+pagClass)
				for i in o.data
					li(class="slides-pag-i"+pagItemClass)

mixin slide(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	div(class="slide"+name)
		if block
			block

