.columns
  font-size: 0

  &._justify
    text-align: justify

    &:before
      content: ''
      display: block
      width: 100%
      margin-bottom: -1em

    &:after
      content: '';
      display: inline-block;
      width: 100%;

.column
  display: inline-block
  vertical-align: top
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-size: textSize

  for i in (1..100)
    &._{i}
      width: (100/i) %

  &._middle
    vertical-align: middle

  &._bot
    vertical-align: baseline

  &._center
    text-align: center
