extends layout

block content
	+section({name: "titleslide screen", id: "title"})
		p.titleslide-slogo !{data.screens.title.slogo}
		.gonext
			div.gonext-tx !{data.screens.title.next}
			img(src="img/arrow_down.svg", class="gonext-ico")
	+section({name: "competence screen", id: "comps"})
		h2.slide-t !{data.screens.comps.title}
		.competence-ico
			img(src=data.screens.comps.main_pic, class="")
		.grids._justify.competence-l
			+grid({cols: 7, name: "competence-i"})
				+title({level: 3, name: "competence-i-t"}) !{data.screens.comps.items[0].title}
				p.competence-i-tx !{data.screens.comps.items[0].tx}
			+grid({cols: 7, name: "competence-i"})
				+title({level: 3, name: "competence-i-t"}) !{data.screens.comps.items[1].title}
				p.competence-i-tx !{data.screens.comps.items[1].tx}
			+grid({cols: 7, name: "competence-i"})
				+title({level: 3, name: "competence-i-t"}) !{data.screens.comps.items[2].title}
				p.competence-i-tx !{data.screens.comps.items[2].tx}
	+section({name: "howwework screen", id: "work"} )
		div(class="howwework-pattern")
			img(class="howwework-pattern-i _1", src="img/box.svg")
			img(class="howwework-pattern-i _2", src="img/shop.svg")
			img(class="howwework-pattern-i _3", src="img/pay.svg")
			img(class="howwework-pattern-i _4", src="img/web.svg")
			img(class="howwework-pattern-i _5", src="img/bafileblack.svg")
		.grids
			+grid({cols: 19, mod: "_right"})
				+thumb({src: "img/logo_grey.svg", name: "howwework-title-pic", mod: "_right"})
		.grids
			+grid({cols: 22, mod: "_right"})
				+title({level: 2, name: "slide-t", mod: "_right"}) !{data.screens.work.title}
		.grids
			+grid({cols: 10, name: "ba_txblock"})
				+title({level: 3, name: "section-t", mod: "_left _bigger"}) !{data.screens.work.ba_block.title}
				p.slide-tx !{data.screens.work.ba_block.tx}
		.grids
			+grid({cols: 15})
			+grid({cols: 8, name: "ba_result_txblock"})
				+title({level: 3}) !{data.screens.work.result_block.title}
				for i in data.screens.work.result_block.tx
					p.slide-tx !{i}
	+section({name: "designslide _black screen", id: "design"})
		.grids
			+grid({cols: 11})
				+title({level: 2, name: "slide-t", mod: "_left _mb_shifted"}) !{data.screens.design.title}
				for i in data.screens.design.tx
					p.slide-tx !{i}
				+title({level: 3, name: ""}) !{data.screens.design.analitics.title}
				p.slide-tx !{data.screens.design.analitics.tx}
			+grid({cols: 1})
			+grid({cols: 12})
				+thumb({src: data.screens.design.main_pic, name: "design-pattern"})
	+section({name: "technoslide screen", id: "techs"})
		+title({level: 2, name: "slide-t", mod: ""}) !{data.screens.tech.title}
		div.webstorm-preview
			img(src=data.screens.tech.main_pic, class="webstorm-preview-media")
			+title({level: 3, name: "", mod: "_center"}) !{data.screens.tech.front_end.title}
			.grids._center
				+grid({cols: 16, name:"slide-tx", mod: "_center"})
					p.slide-tx !{data.screens.tech.front_end.tx}
		.grids._justify
			+grid({cols: 11})
				+title({level: 3, name: ""}) !{data.screens.tech.back_end.title}
				for i in data.screens.tech.back_end.tx
					p.slide-tx !{i}
				+thumb({src: data.screens.tech.back_end.main_pic, mod: "_left"})
			+grid({cols: 11})
				+thumb({src: data.screens.tech.second_col.main_pic, mod: "_left", name: "adaptive_devices"})
				+title({level: 3, name: ""}) !{data.screens.tech.second_col.a_and_r.title}
				p.slide-tx !{data.screens.tech.second_col.a_and_r.tx}
				+title({level: 3, name: ""}) !{data.screens.tech.second_col.tools.title}
				p.slide-tx !{data.screens.tech.second_col.tools.tx}

	+section({name: "processes _black screen", id: "processes"})
		+title({level: 2, name: "slide-t", mod: "_left"}) !{data.screens.process.title}
		p.processes-tx._begin !{data.helpers.speedtx}
		p.processes-tx._end !{data.helpers.timetx}
		.grids
			+grid({cols: 6, name: "slide-tx"})
				p !{data.screens.process.tx}
		div.scrum-txblock
			+title({level: 3, name: "", mod: "_left"}) !{data.screens.process.scrum.title}
			.grids
				+grid({cols: 11, name: "slide-tx"})
					p !{data.screens.process.scrum.tx}
	+section({name: "portfolio _black screen", id: "portfolio"})
		+title({level: 2, name: "slide-t", mod: "mb_shifted"}) !{data.screens.portfolio.title}
		.columns
			- for (var i=0; i<4; i++) {
				- for (var k=0; k<3; k++) {
					- var mod = ""
					- if (k==0) {
						- mod = "_left"
					- }
					- if (k==1) {
						- mod = "_center"
					- }
					- if (k==2) {
						- mod = "_right"
					- }
					- var num = 3*i+k
					+column({cols: 3})
						if (data.screens.portfolio.items[num].href)
							+link({name: "portfolio-preview", mod: "_par",href: data.screens.portfolio.items[num].href})
								+thumb({src:data.screens.portfolio.items[num].pic, name: "portfolio-preview", mod: mod})
								.portfolio-i-desc
									.portfolio-i-desc-wrp
										p.portfolio-i-t !{data.screens.portfolio.items[num].title}
										p.portfolio-i-tx !{data.screens.portfolio.items[num].descr}
						else
							.portfolio-preview._par
								+thumb({src:data.screens.portfolio.items[num].pic, name: "portfolio-preview", mod: mod})
								.portfolio-i-desc
									.portfolio-i-desc-wrp
										p.portfolio-i-t !{data.screens.portfolio.items[num].title}
										p.portfolio-i-tx !{data.screens.portfolio.items[num].descr}
				- }
			- }


	+section({name: "clients screen", id: "clients"})
		.grids
			+grid({cols: 9})
				+title({level: 2, name: "slide-t", mod: "_left"}) !{data.screens.clients.title}
			+grid({cols: 1})
			+grid({cols: 14})
				ul.clients-l
					for client in data.screens.clients.list
						li.clients-l-i
							span !{client}
	+section({name: "contacts screen", id: "contacts"})
		div.contacts-bg._minsk
		div.contacts-bg._ny._act
		.contacts__holder
			.grids._right
				+grid({cols: 9, name: "contacts-tabs"})
					div.contacts-tab._act(data-dir="-1")
						span.contacts-tab-tx !{data.screens.contacts.сity1}
					div.contacts-tab(data-dir="1")
						span.contacts-tab-tx !{data.screens.contacts.сity2}
			.contacts-cont
				.contacts-cont-i._minsk._act
					.grids._right
						+grid({cols: 9})
							p.contacts-adr !{data.screens.contacts.addr1}
							//+link({href: "http://maps.google.com", tx: "на карте", name: "contacts-map"})
					.grids._right
						+grid({cols: 12})
							p.contacts-tel !{data.screens.contacts.phone1}
							+link({href: "mailto:info@lovata.com", name: "contacts-mail", tx: "info@lovata.com"})
				.contacts-cont-i._ny
					.grids._right
						+grid({cols: 9})
							p.contacts-adr !{data.screens.contacts.addr2}
							//+link({href: "http://maps.google.com", tx: data.screens.contacts.map, name: "contacts-map"})
					.grids._right
						+grid({cols: 12})
							p.contacts-tel !{data.screens.contacts.phone2}
							+link({href: "mailto:info@lovata.com", name: "contacts-mail", tx: "info@lovata.com"})
		.social-list._conts
			a.social-i(href='https://www.facebook.com/lovatagroup', target='_blank')
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
					path.menu-fb-path(fill='#000000', d='M14.5,7.153h-2.894V5.181c0-0.741,0.472-0.913,0.804-0.913s2.045,0,2.045,0V1.011L11.641,1	  C8.517,1,7.806,3.428,7.806,4.982v2.17H6v3.355h1.806c0,4.306,0,9.492,0,9.492h3.8c0,0,0-5.238,0-9.492h2.563L14.5,7.153z')
			a.social-i(href='https://twitter.com/lovata_group', target='_blank')
				svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='23.378px', height='20px', viewbox='0 0 23.378 20', enable-background='new 0 0 23.378 20', xml:space='preserve')
					g
						path.menu-tw-path(fill='#000000', d='M23.378,3.249c-0.862,0.382-1.787,0.639-2.757,0.756c0.993-0.593,1.752-1.533,2.112-2.654		c-0.929,0.55-1.955,0.95-3.048,1.165C18.812,1.582,17.564,1,16.187,1c-2.648,0-4.797,2.148-4.797,4.797		c0,0.376,0.042,0.741,0.123,1.093c-3.986-0.2-7.52-2.109-9.885-5.011c-0.414,0.708-0.65,1.533-0.65,2.411		c0,1.664,0.848,3.131,2.134,3.993C2.326,8.257,1.585,8.04,0.938,7.683c0,0.02,0,0.04,0,0.06c0,2.323,1.654,4.261,3.848,4.703		c-0.401,0.109-0.825,0.17-1.263,0.17c-0.31,0-0.608-0.033-0.902-0.09c0.61,1.906,2.382,3.294,4.479,3.333		c-1.641,1.285-3.708,2.052-5.956,2.052c-0.388,0-0.769-0.021-1.144-0.064C2.122,19.203,4.643,20,7.353,20		c8.822,0,13.646-7.309,13.646-13.647c0-0.208-0.006-0.417-0.012-0.622C21.922,5.055,22.733,4.209,23.378,3.249z')
			a.social-i(href='https://www.youtube.com/channel/UCLmXkY_5svzGN0XNiG4s-Tw', target='_blank')
				svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='27.014px', height='20px', viewbox='0 0 27.014 20', enable-background='new 0 0 27.014 20', xml:space='preserve')
					g
						path.menu-yt-path(fill='#000000', d='M26.743,5.1c0,0-0.264-1.862-1.073-2.682c-1.027-1.076-2.179-1.082-2.706-1.145		C19.183,1,13.513,1,13.513,1h-0.012c0,0-5.67,0-9.451,0.273C3.522,1.336,2.372,1.342,1.344,2.418C0.534,3.237,0.271,5.1,0.271,5.1		S0,7.285,0,9.472v2.048c0,2.186,0.271,4.373,0.271,4.373s0.264,1.861,1.074,2.682c1.027,1.076,2.377,1.041,2.978,1.154		C6.483,19.936,13.507,20,13.507,20s5.676-0.01,9.457-0.283c0.527-0.063,1.679-0.066,2.706-1.143		c0.81-0.82,1.073-2.682,1.073-2.682s0.271-2.188,0.271-4.373V9.472C27.014,7.285,26.743,5.1,26.743,5.1z M10.718,14.004		l-0.001-7.59l7.3,3.809L10.718,14.004z')
