include ../blocks/blocks
- var htmlclass = projectdata?" _overflowed":""
doctype html
html(class=htmlclass)
	head
		title !{data.helpers.title}
		meta(charset="utf-8")
		meta(name="description", content=data.helpers.description)
		link(rel='icon', type='image/png', href='./favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')

		link(rel="alternate", hreflang="ru", href="http://lovata.com/ru")
		link(rel="alternate", hreflang="en", href="http://lovata.com/en")

		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,900italic,900,700italic,500italic,500,400italic,300italic,300,100italic&subset=cyrillic-ext,latin', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=cyrillic,latin', rel='stylesheet', type='text/css')

		link(rel='stylesheet', href='stylesheets/style.css')
	body(data-locale=locale)

		+c-sidebar({})
		.wrp
			block content
		+c-header({})
		if projectdata
			+popup({name: "project-popup", mod: "_open"})
				include project
		else
			+popup({name: "project-popup", mod: "_loading"})

		script(src="js/vendor/jquery.min.js")
		script(src="js/main.js")

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-52537375-1', 'auto');
			ga('send', 'pageview');

		script(type='text/javascript').
			(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25474646 = new Ya.Metrika({id:25474646, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src='//mc.yandex.ru/watch/25474646', style='position:absolute; left:-9999px;', alt='')
