include ../blocks/blocks

.project-wrp
	- var projectactclass = active?" _act":""
	.project(class=projectactclass)
		header.project-header
			.back_btn
				span.back_btn-ico &times;
		.project-descrbox
			+title({level: 3, name: "project-descr"}) !{projectdata.header.desc}
			+title({level: 1, name: "project-t"}) !{projectdata.header.title}
			if projectdata.header.link
				div.project-descr-lnks !{data.helpers.linktx}&nbsp;
				div.project-descr-ln
					for link in projectdata.header.link
						div
							+link({href: link.href, tx: link.name, target: "_blank"})
			p.project-descr-date !{data.helpers.datetx} !{projectdata.header.date}
			for tx in projectdata.header.tx
				p.project-tx !{tx}
		.project-c
			for item in projectdata["content"]
				if (item.type == "img")
					img(src=item.src)
				else if (item.type == "tx")
					for tx in item.tx
						p.project-tx !{tx}
	a.project-next(href=projectdata.next.href, style="background-image: url('.." + projectdata.next.preview + "')")
		+title({level: 4, name: "project-next-t"}) !{data.helpers.nexttx}
		p.project-next-descr !{projectdata.next.descr}