mixin ol(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var liClass = name?name+'-i':""
	- var contClass = liClass?liClass+'-c':""
	- var data = o.data || ["Элемент 1", "Элемент 2", "Элемент 3", "Элемент 4"]
	ul(class="list"+name+mod)
		for item in data
			li(class="list-i"+liClass)
				span(class="list-i-c"+contClass)  !{item}
				if block
					block
