mixin nav(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var itemClass = name?name+'-i':""
	- var lnClass = itemClass?itemClass+'-ln':""
	- var lnContClass = lnClass?lnClass+"-tx":""
	- var data = o.data || [{name: "Пункт 1", link: "#1"},{name: "Пункт 2", link: "#2"},{name: "Пункт 3", link: "#3"}]
	nav(class="nav"+name+mod)
		for item in data
			- var datamod = item.mod?" "+item.mod:""
			div(class="nav-i"+itemClass+datamod)
				+link({name: "nav-i-ln"+lnClass,href:item.link})
					span(class="nav-i-ln-tx"+lnContClass) !{item.name}

