.nav
  font-size: 0

  &._inline .nav-i
    display: inline-block

  &._middled .nav-i
    vertical-align: middle

  &-i
    font-size: 1rem

.nav:before
  position relative
  height 100%
  content ""
  display: inline-block
  vertical-align: middle