mixin thumb(o)
	- var mod= o.mod || ""
	- var name= o.name || ""
	- var picClass = name?name+'-pic':""
	figure(class="thumb "+name+" "+mod)
		img(class="thumb-pic "+picClass, src=o.src, alt=o.alt)
		if block
			block