mixin logo(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var picClass = name?name+"-pic":""
	figure(class="logo"+name+mod)
		img(class="logo-pic"+picClass, src=o.src, alt=o.alt)
