.grids
  font-size: 0
  margin-left: -+gridsSpacing

  &._justify
    text-align: justify

    &:before
      content: ' '
      display: block
      width: 100%
      margin-bottom: -1em

    &:after
      content: ' ';
      display: inline-block;
      width: 100%;

.grids._middle:before
  content: '';
  display: inline-block;
  height: 100%;
  position: relative
  vertical-align: middle

.grids._left
  text-align: left
.grids._right
  text-align: right
.grids._center
  text-align: center

.grid
  display: inline-block
  vertical-align: top
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  text-align: left
  padding-left: gridsSpacing
  font-size: textSize

  for i in gridsNum
    &_{i}
      width: (100 / gridsLength * i) %

  &._middle
    vertical-align: middle

  &._bot
    vertical-align: baseline

.grid._right
  text-align: right
.grid._left
  text-align: left
.grid._center
  text-align: center

@media (max-width: 960px)
  .grid
    padding-left: gridsSpacing_tablet

  for i in gridsNum
    .grid_tablet_{i}
      width: (100 / gridsLength * i)%



@media (max-width: 480px)
  .grid
    padding-left: gridsSpacing_mobile

  for i in gridsNum
    .grid_mobile_{i}
      width: (100 / gridsLength * i)%
