mixin grid(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var tabletcols = o.tabletcols?o.tabletcols:o.cols
	- var mobilecols = o.mobilecols?o.mobilecols:o.cols
	div(class='grid grid_'+ o.cols+' grid_tablet_'+tabletcols+' grid_mobile_'+mobilecols+name+mod)
		if block
			block
