mixin btn(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var txClass= name?name+"-tx":""
	- var tx = o.tx?o.tx:""
	a(class="btn"+name+mod, href=o.href)
		if block
			block
		span(class="btn-tx"+txClass) !{tx}

