@font-face
  font-family: 'futura'
  src: url('../fonts/futurafuturisc-webfont.eot')
  src: url('../fonts/futurafuturisc-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futurafuturisc-webfont.woff') format('woff'), url('../fonts/futurafuturisc-webfont.ttf') format('truetype')
  font-weight: normal
  font-style: normal


@font-face {
  font-family: 'futura';
  src: url('../fonts/futu_eb-webfont.eot');
  src: url('../fonts/futu_eb-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futu_eb-webfont.woff2') format('woff2'),
  url('../fonts/futu_eb-webfont.woff') format('woff'),
  url('../fonts/futu_eb-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'futura';
  src: url('../fonts/futu_exb-webfont.eot');
  src: url('../fonts/futu_exb-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futu_exb-webfont.woff2') format('woff2'),
  url('../fonts/futu_exb-webfont.woff') format('woff'),
  url('../fonts/futu_exb-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

reset()
  margin: 0
  padding: 0


color1 = #2C3E50;
color2 = #E74C3C;
color3 = #ECF0F1;
color4 = #3498DB;
color5 = #2980B9;

layoutWidth = 1240px
maxWidth = 1300px
minWidth = 360px
sizeCaption = 36px
textSize = 16px
textColor = #333333
lineHeight = 24px
fontFamily = arial, sans-serif
titleFontFamily = 'futura', sans-serif;

gridsLength = 24
gridsNum = 1..24
gridsSpacing = 20px
gridsSpacing_tablet = 20px
gridsSpacing_mobile = 20px

.title_1
  font-family: titleFontFamily

.title_2
  font-family: titleFontFamily

.title_3
  reset()
  font-family: titleFontFamily
  font-size: 36px
  line-height: 45px
  font-weight: 900
  margin-bottom: 22px
  margin-top: 35px

.title_4
  reset()
  font-family: titleFontFamily
  font-size: 2rem
  line-height: 1em
  font-weight: bold
  margin-bottom: 15px

.title_5
  reset()
  font-family: titleFontFamily
  font-size: 1.8rem
  line-height: 1em
  font-weight: bold
  margin-bottom: 1rem

.title_6
  reset()
	
.title._left
	text-align: left
	
.title._right
	text-align: right

.title._center
	text-align: center

linkborder = rgba(71, 88, 165, 0.5)
hovlinkborder = rgba(71, 88, 165, 1)

.link
  color rgba(71, 88, 165, 1)
  text-decoration: none
  border-bottom: 1px solid linkborder
  transition: all .3s

  &:hover
    color: rgba(71, 88, 165, 1)
    border-bottom: 1px solid hovlinkborder
    
.link._pseudo
  border-bottom-style: dashed



sidebarwidth = 280px