mixin c-sidebar(o)
	- var mod= o.mod || ""
	- var name= o.name || ""
	aside(class="c-sidebar"+name+mod)
		+link({href: "#title", name: "sidebar-logo-ln"})
			+logo({src:"/img/logo_sidebar.svg", mod: "_sidebar"})
		+nav({data: data.globalnav, name: "g-nav"})
		footer.g-nav-footer
			.social-list
				a.social-i._menu(href='https://www.facebook.com/lovatagroup', target='_blank')
					svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
						path.menu-fb-path(fill='#ffffff', d='M14.5,7.153h-2.894V5.181c0-0.741,0.472-0.913,0.804-0.913s2.045,0,2.045,0V1.011L11.641,1	  C8.517,1,7.806,3.428,7.806,4.982v2.17H6v3.355h1.806c0,4.306,0,9.492,0,9.492h3.8c0,0,0-5.238,0-9.492h2.563L14.5,7.153z')
				a.social-i._menu(href='https://twitter.com/lovata_group', target='_blank')
					svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='23.378px', height='20px', viewbox='0 0 23.378 20', enable-background='new 0 0 23.378 20', xml:space='preserve')
						g
							path.menu-tw-path(fill='#ffffff', d='M23.378,3.249c-0.862,0.382-1.787,0.639-2.757,0.756c0.993-0.593,1.752-1.533,2.112-2.654		c-0.929,0.55-1.955,0.95-3.048,1.165C18.812,1.582,17.564,1,16.187,1c-2.648,0-4.797,2.148-4.797,4.797		c0,0.376,0.042,0.741,0.123,1.093c-3.986-0.2-7.52-2.109-9.885-5.011c-0.414,0.708-0.65,1.533-0.65,2.411		c0,1.664,0.848,3.131,2.134,3.993C2.326,8.257,1.585,8.04,0.938,7.683c0,0.02,0,0.04,0,0.06c0,2.323,1.654,4.261,3.848,4.703		c-0.401,0.109-0.825,0.17-1.263,0.17c-0.31,0-0.608-0.033-0.902-0.09c0.61,1.906,2.382,3.294,4.479,3.333		c-1.641,1.285-3.708,2.052-5.956,2.052c-0.388,0-0.769-0.021-1.144-0.064C2.122,19.203,4.643,20,7.353,20		c8.822,0,13.646-7.309,13.646-13.647c0-0.208-0.006-0.417-0.012-0.622C21.922,5.055,22.733,4.209,23.378,3.249z')
				a.social-i._menu(href='https://www.youtube.com/channel/UCLmXkY_5svzGN0XNiG4s-Tw', target='_blank')
					svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='27.014px', height='20px', viewbox='0 0 27.014 20', enable-background='new 0 0 27.014 20', xml:space='preserve')
						g
							path.menu-yt-path(fill='#ffffff', d='M26.743,5.1c0,0-0.264-1.862-1.073-2.682c-1.027-1.076-2.179-1.082-2.706-1.145		C19.183,1,13.513,1,13.513,1h-0.012c0,0-5.67,0-9.451,0.273C3.522,1.336,2.372,1.342,1.344,2.418C0.534,3.237,0.271,5.1,0.271,5.1		S0,7.285,0,9.472v2.048c0,2.186,0.271,4.373,0.271,4.373s0.264,1.861,1.074,2.682c1.027,1.076,2.377,1.041,2.978,1.154		C6.483,19.936,13.507,20,13.507,20s5.676-0.01,9.457-0.283c0.527-0.063,1.679-0.066,2.706-1.143		c0.81-0.82,1.073-2.682,1.073-2.682s0.271-2.188,0.271-4.373V9.472C27.014,7.285,26.743,5.1,26.743,5.1z M10.718,14.004		l-0.001-7.59l7.3,3.809L10.718,14.004z')
		.langSelect-l.columns
			-	var cols = data.helpers.translate_links.length
			for item, key in data.helpers.translate_links
				+column({cols: cols, mod: "_center"})
					if (!item.language.act)
						+link({name: "langSelect-l-i", href: item.language.href, tx:item.language.name})
					else
						span.langSelect-l-i._act !{item.language.name}