.c-sidebar
	background #1f1f1f
	width sidebarwidth
	height 100%
	position: fixed
	top: 0
	left: 0
	box-sizing border-box
	padding-top: 100px
	padding-left: 67px

.g-nav-i
	margin-bottom: 30px

.g-nav-i-ln
	border-bottom: none
	color #cdcdcd
	font-family: arial, sans-serif
	font-size: 15px
	transition: all .3s

.g-nav-i-ln:hover
	color #ffffff
	border-bottom: none

.social-i {
	display: inline-block;
	cursor: pointer;
	margin-left: 25px;
}

.social-i._conts {
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-o-transform: scale(1.8);
	transform: scale(1.8);
	margin-left: 4rem;
}

.social-i svg {
	max-height: 2rem;
	max-width: 2rem;
}

.social-i:first-child {
	margin-left: 0;
}

.social-i path {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.social-i:hover .menu-fb-path {
	fill: #3b5998;
}

.social-i:hover .menu-tw-path {
	fill: #00acee;
}

.social-i:hover .menu-yt-path {
	fill: #af100a;
}

.g-nav-footer {
	position: absolute;
	bottom: 2.5%;
	left: 67px;
	text-align: center;
	padding-bottom: 70px
}

.logo._sidebar
	position: absolute;
	top: 23px;
	width: 161px;
	left: 67px;
	height: 29px

.langSelect-l
	position: absolute
	left: 0
	bottom: 18px
	width 100%

.langSelect-l-i
	width 100%
	box-sizing border-box
	padding 9px 11px 8px
	color: #cdcdcd
	font-family: arial, sans-serif
	font-size: 15px
	line-height: 1
	border-bottom: none

.langSelect-l-i._act
	background #ffffff
	color: #000000

.langSelect-l-i:not(._act):hover
	color #ffffff
	border-bottom: none