mixin header(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var innername= o.name?name+"-c":""
	header(class="header"+name+mod)
		div(class="header-c"+innername+mod)
			block
