mixin section(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var contClass= o.name?name+"-c":""
	- var id = o.id?""+o.id:""
	section(class="section"+name+mod, id=id)
		div(class="section-c")
			if block
				block
