mixin link(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var href= o.href || "#"
	- var tx= o.tx || ''
	- var target = o.target || ""
	a(class="link"+name+mod, href=href, data-modalname=o.modalname, target=target)
		if o.tx
			span.link-tx !{tx}
		if block
			block

