mixin tab(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var group= o.group || "group1"
	- var target= o.target || ""
	- var contname= name?name+"-cont":""

	div(class="tab js-tab"+name+mod, data-group=group, data-target=target)
		div(class="tab-cont"+contname)
			if block
				block
