mixin paging(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""

	section(class="paging"+name+mod)
		if (o.withfirst)
			span(class= "paging-i _gofirst _dis")
				span(class="paging-i-ico _left")
		if (o.withsteps)
			span(class= "paging-i _step _prev _dis") Предыдущая

		- for (var i=1; i<=o.length; i++) {
			if (i==1)
				+link({href: "#"+i,name: "paging-i _act"}) !{i}
			else
				+link({href: "#"+i,name: "paging-i"}) !{i}
		- }

		if (o.withfirst)
			+link({href: "#1",name: "paging-i",mod: "_step _next"}) Следующая
		if (o.withsteps)
			+link({href: "#1",name: "paging-i",mod: "_golast"})
				span(class="paging-i-ico _right")
