.paging
  font-size: 0

.paging-i
  display: inline-block
  vertical-align: middle
  font-size: textSize
  position: relative

.paging-i._step
  width auto
  padding 0 15px

.paging-i._step._prev {
  margin-right: 4px
}

.paging-i._step._next {
  margin-left: 8px
}

.paging-i._dis
  opacity 0.5
  cursor default

.paging-i._act
  cursor default

.paging-i._dis:hover,
.paging-i._act:hover
  color #000000

.paging-i-ico
  position: absolute;
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: auto
  width 8px
  height 11px
  background url("../img/paging-arrs.png") 0 0 no-repeat

.paging-i-ico._left
  background-position: 0 0

.paging-i:hover .paging-i-ico._left
  background-position: 0 bottom

.paging-i-ico._right
  background-position: right 0

.paging-i:hover .paging-i-ico._right
  background-position: right bottom

.paging-i._dis:hover .paging-i-ico._right
  background-position: right 0

.paging-i._dis:hover .paging-i-ico._left
  background-position: 0 0


