.modal
  z-index 2
  height auto
  visibility hidden
  position absolute
  opacity 0
  text-align: left

.modal._open
  visibility visible
  opacity 1

.modal_holder
  position fixed
  top: 0
  left 0
  width 100%
  height 100%
  visibility hidden
  font-size: 0
  z-index 11
  text-align: center

.modal_holder:before
  content: ""
  position: relative;
  height 100%
  width 0
  display: inline-block
  vertical-align: middle;

