mixin c-header(o)
   - var mod= o.mod || ""
   - var name= o.name || ""
   header(class="c-header" + name + mod)
      +c-navicon({})
      a(class="portfolio-btn", href=data.portfolio.link) !{data.portfolio.name}
      if block
         block
