.c-header
	position fixed
	padding-top: 20px
	padding-left: 17px
	top: 0
	left: 0

.portfolio-btn
	position: absolute
	top: 23px
	left: 68px
	background-color: #000000
	color #ffffff
	text-decoration: none
	padding 6px 14px
	font-weight: bold
	border-bottom: none
	box-shadow 0 0 0 1px rgba(248,248,248,0.6)
	transform trnaslateZ(0)
	will-change box-shadow, transform, opacity
	transition all .5s

	&._shifted
		transform translateX(300px) translateZ(0)
		opacity: 0
		visibility hidden