mixin footer(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var contClass = name?name+"-inn":""
		footer(class="footer"+name+mod)
			div(class="footer-cont"+contClass)
			if block
				block
