mixin icolink(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var href= o.href?o.href:"#"
	- var tx= o.tx || "#"
	- var posClass= " _"+o.pos || ""

	+link({href: o.href,name: "icolink"+name+mod+posClass})
		if (o.pos == "right")
			span.icolink-tx
				if block
					block
			img(class="icolink-ico _right",src=o.src)
		else if (o.pos == "top")
			img(class="icolink-ico _top",src=o.src)
			span.icolink-tx
				if block
					block
		else if (o.pos == "bottom")
			span.icolink-tx
				if block
					block
			img(class="icolink-ico _bottom",src=o.src)
		else
			img(class="icolink-ico _left",src=o.src)
			if o.tx
				span.icolink-tx !{tx}
			if block
				block

