.icolink
  display: inline-block
  border-bottom: 0
  white-space nowrap

.icolink._top, .icolink._bottom
  display: inline

img.icolink-ico._top, img.icolink-ico._bottom
  display: block

.icolink-tx
  border-bottom: 1px solid linkborder
  white-space normal

.icolink:hover .icolink-tx
  border-bottom: 1px solid hovlinkborder

.icolink-ico
  max-width 100%

.icolink-ico._left
  margin-right: .25em

.icolink-ico._right
  margin-left: .25em