html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{font-size:100.01%;overflow-x:hidden;overflow-y:auto;-webkit-font-smoothing:antialiased}
body{min-width:1100px}
h1,h2,h3,h4,h5,p,fieldset{font-weight:normal}
ul,li{list-style-type:none}
*:focus{outline:0 !important}
a{text-decoration:underline}
a img{border:0}
a span{cursor:pointer}
table{border-collapse:collapse}
td{vertical-align:top}
a,input,textarea{outline:0 !important}
fieldset{border:0}
input,select{vertical-align:middle}
select,textarea{overflow-x:hidden;overflow-y:auto}
textarea{resize:none}
select,input,textarea,button{margin:0;padding:0;font:99% sans-serif}
label,input[type="button"],input[type="submit"],input[type="reset"],button{cursor:pointer}
input[hidden]{display:none}
button{width:auto;overflow:visible}
@font-face{font-family:'futura';src:url("../fonts/futurafuturisc-webfont.eot");src:url("../fonts/futurafuturisc-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/futurafuturisc-webfont.woff") format('woff'),url("../fonts/futurafuturisc-webfont.ttf") format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'futura';src:url("../fonts/futu_eb-webfont.eot");src:url("../fonts/futu_eb-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/futu_eb-webfont.woff2") format('woff2'),url("../fonts/futu_eb-webfont.woff") format('woff'),url("../fonts/futu_eb-webfont.ttf") format('truetype');font-weight:600;font-style:normal}
@font-face{font-family:'futura';src:url("../fonts/futu_exb-webfont.eot");src:url("../fonts/futu_exb-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/futu_exb-webfont.woff2") format('woff2'),url("../fonts/futu_exb-webfont.woff") format('woff'),url("../fonts/futu_exb-webfont.ttf") format('truetype');font-weight:900;font-style:normal}
.title_1{font-family:'futura',sans-serif}
.title_2{font-family:'futura',sans-serif}
.title_3{margin:0;padding:0;font-family:'futura',sans-serif;font-size:36px;line-height:45px;font-weight:900;margin-bottom:22px;margin-top:35px}
.title_4{margin:0;padding:0;font-family:'futura',sans-serif;font-size:2rem;line-height:1em;font-weight:bold;margin-bottom:15px}
.title_5{margin:0;padding:0;font-family:'futura',sans-serif;font-size:1.8rem;line-height:1em;font-weight:bold;margin-bottom:1rem}
.title_6{margin:0;padding:0}
.title._left{text-align:left}
.title._right{text-align:right}
.title._center{text-align:center}
.link{color:#4758a5;text-decoration:none;border-bottom:1px solid rgba(71,88,165,0.5);transition:all .3s;}
.link:hover{color:#4758a5;border-bottom:1px solid #4758a5}
.link._pseudo{border-bottom-style:dashed}
.btn{margin:0;padding:0;text-decoration:none;display:inline-block}
.columns{font-size:0;}
.columns._justify{text-align:justify;}
.columns._justify:before{content:'';display:block;width:100%;margin-bottom:-1em}
.columns._justify:after{content:'';display:inline-block;width:100%}
.column{display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:16px;}
.column._1{width:100%}
.column._2{width:50%}
.column._3{width:33.333333333333336%}
.column._4{width:25%}
.column._5{width:20%}
.column._6{width:16.666666666666668%}
.column._7{width:14.285714285714286%}
.column._8{width:12.5%}
.column._9{width:11.11111111111111%}
.column._10{width:10%}
.column._11{width:9.090909090909092%}
.column._12{width:8.333333333333334%}
.column._13{width:7.6923076923076925%}
.column._14{width:7.142857142857143%}
.column._15{width:6.666666666666667%}
.column._16{width:6.25%}
.column._17{width:5.882352941176471%}
.column._18{width:5.555555555555555%}
.column._19{width:5.2631578947368425%}
.column._20{width:5%}
.column._21{width:4.761904761904762%}
.column._22{width:4.545454545454546%}
.column._23{width:4.3478260869565215%}
.column._24{width:4.166666666666667%}
.column._25{width:4%}
.column._26{width:3.8461538461538463%}
.column._27{width:3.7037037037037037%}
.column._28{width:3.5714285714285716%}
.column._29{width:3.4482758620689653%}
.column._30{width:3.3333333333333335%}
.column._31{width:3.225806451612903%}
.column._32{width:3.125%}
.column._33{width:3.0303030303030303%}
.column._34{width:2.9411764705882355%}
.column._35{width:2.857142857142857%}
.column._36{width:2.7777777777777777%}
.column._37{width:2.7027027027027026%}
.column._38{width:2.6315789473684212%}
.column._39{width:2.5641025641025643%}
.column._40{width:2.5%}
.column._41{width:2.4390243902439024%}
.column._42{width:2.380952380952381%}
.column._43{width:2.3255813953488373%}
.column._44{width:2.272727272727273%}
.column._45{width:2.2222222222222223%}
.column._46{width:2.1739130434782608%}
.column._47{width:2.127659574468085%}
.column._48{width:2.0833333333333335%}
.column._49{width:2.0408163265306123%}
.column._50{width:2%}
.column._51{width:1.9607843137254901%}
.column._52{width:1.9230769230769231%}
.column._53{width:1.8867924528301887%}
.column._54{width:1.8518518518518519%}
.column._55{width:1.8181818181818181%}
.column._56{width:1.7857142857142858%}
.column._57{width:1.7543859649122806%}
.column._58{width:1.7241379310344827%}
.column._59{width:1.694915254237288%}
.column._60{width:1.6666666666666667%}
.column._61{width:1.639344262295082%}
.column._62{width:1.6129032258064515%}
.column._63{width:1.5873015873015872%}
.column._64{width:1.5625%}
.column._65{width:1.5384615384615385%}
.column._66{width:1.5151515151515151%}
.column._67{width:1.492537313432836%}
.column._68{width:1.4705882352941178%}
.column._69{width:1.4492753623188406%}
.column._70{width:1.4285714285714286%}
.column._71{width:1.408450704225352%}
.column._72{width:1.3888888888888888%}
.column._73{width:1.36986301369863%}
.column._74{width:1.3513513513513513%}
.column._75{width:1.3333333333333333%}
.column._76{width:1.3157894736842106%}
.column._77{width:1.2987012987012987%}
.column._78{width:1.2820512820512822%}
.column._79{width:1.2658227848101267%}
.column._80{width:1.25%}
.column._81{width:1.2345679012345678%}
.column._82{width:1.2195121951219512%}
.column._83{width:1.2048192771084338%}
.column._84{width:1.1904761904761905%}
.column._85{width:1.1764705882352942%}
.column._86{width:1.1627906976744187%}
.column._87{width:1.1494252873563218%}
.column._88{width:1.1363636363636365%}
.column._89{width:1.1235955056179776%}
.column._90{width:1.1111111111111112%}
.column._91{width:1.098901098901099%}
.column._92{width:1.0869565217391304%}
.column._93{width:1.075268817204301%}
.column._94{width:1.0638297872340425%}
.column._95{width:1.0526315789473684%}
.column._96{width:1.0416666666666667%}
.column._97{width:1.0309278350515463%}
.column._98{width:1.0204081632653061%}
.column._99{width:1.0101010101010102%}
.column._100{width:1%}
.column._middle{vertical-align:middle}
.column._bot{vertical-align:baseline}
.column._center{text-align:center}
.grids{font-size:0;margin-left:-20px;}
.grids._justify{text-align:justify;}
.grids._justify:before{content:' ';display:block;width:100%;margin-bottom:-1em}
.grids._justify:after{content:' ';display:inline-block;width:100%}
.grids._middle:before{content:'';display:inline-block;height:100%;position:relative;vertical-align:middle}
.grids._left{text-align:left}
.grids._right{text-align:right}
.grids._center{text-align:center}
.grid{display:inline-block;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;padding-left:20px;font-size:16px;}
.grid_1{width:4.166666666666667%}
.grid_2{width:8.333333333333334%}
.grid_3{width:12.5%}
.grid_4{width:16.666666666666668%}
.grid_5{width:20.833333333333336%}
.grid_6{width:25%}
.grid_7{width:29.166666666666668%}
.grid_8{width:33.333333333333336%}
.grid_9{width:37.5%}
.grid_10{width:41.66666666666667%}
.grid_11{width:45.833333333333336%}
.grid_12{width:50%}
.grid_13{width:54.16666666666667%}
.grid_14{width:58.333333333333336%}
.grid_15{width:62.50000000000001%}
.grid_16{width:66.66666666666667%}
.grid_17{width:70.83333333333334%}
.grid_18{width:75%}
.grid_19{width:79.16666666666667%}
.grid_20{width:83.33333333333334%}
.grid_21{width:87.5%}
.grid_22{width:91.66666666666667%}
.grid_23{width:95.83333333333334%}
.grid_24{width:100%}
.grid._middle{vertical-align:middle}
.grid._bot{vertical-align:baseline}
.grid._right{text-align:right}
.grid._left{text-align:left}
.grid._center{text-align:center}
@media (max-width: 960px){.grid{padding-left:20px}
.grid_tablet_1{width:4.166666666666667%}
.grid_tablet_2{width:8.333333333333334%}
.grid_tablet_3{width:12.5%}
.grid_tablet_4{width:16.666666666666668%}
.grid_tablet_5{width:20.833333333333336%}
.grid_tablet_6{width:25%}
.grid_tablet_7{width:29.166666666666668%}
.grid_tablet_8{width:33.333333333333336%}
.grid_tablet_9{width:37.5%}
.grid_tablet_10{width:41.66666666666667%}
.grid_tablet_11{width:45.833333333333336%}
.grid_tablet_12{width:50%}
.grid_tablet_13{width:54.16666666666667%}
.grid_tablet_14{width:58.333333333333336%}
.grid_tablet_15{width:62.50000000000001%}
.grid_tablet_16{width:66.66666666666667%}
.grid_tablet_17{width:70.83333333333334%}
.grid_tablet_18{width:75%}
.grid_tablet_19{width:79.16666666666667%}
.grid_tablet_20{width:83.33333333333334%}
.grid_tablet_21{width:87.5%}
.grid_tablet_22{width:91.66666666666667%}
.grid_tablet_23{width:95.83333333333334%}
.grid_tablet_24{width:100%}
}@media (max-width: 480px){.grid{padding-left:20px}
.grid_mobile_1{width:4.166666666666667%}
.grid_mobile_2{width:8.333333333333334%}
.grid_mobile_3{width:12.5%}
.grid_mobile_4{width:16.666666666666668%}
.grid_mobile_5{width:20.833333333333336%}
.grid_mobile_6{width:25%}
.grid_mobile_7{width:29.166666666666668%}
.grid_mobile_8{width:33.333333333333336%}
.grid_mobile_9{width:37.5%}
.grid_mobile_10{width:41.66666666666667%}
.grid_mobile_11{width:45.833333333333336%}
.grid_mobile_12{width:50%}
.grid_mobile_13{width:54.16666666666667%}
.grid_mobile_14{width:58.333333333333336%}
.grid_mobile_15{width:62.50000000000001%}
.grid_mobile_16{width:66.66666666666667%}
.grid_mobile_17{width:70.83333333333334%}
.grid_mobile_18{width:75%}
.grid_mobile_19{width:79.16666666666667%}
.grid_mobile_20{width:83.33333333333334%}
.grid_mobile_21{width:87.5%}
.grid_mobile_22{width:91.66666666666667%}
.grid_mobile_23{width:95.83333333333334%}
.grid_mobile_24{width:100%}
}.logo{margin:0;padding:0;display:inline-block;}
.logo-pic{display:block;max-width:100%;max-height:100%}
.modal{z-index:2;height:auto;visibility:hidden;position:absolute;opacity:0;text-align:left}
.modal._open{visibility:visible;opacity:1}
.modal_holder{position:fixed;top:0;left:0;width:100%;height:100%;visibility:hidden;font-size:0;z-index:11;text-align:center}
.modal_holder:before{content:"";position:relative;height:100%;width:0;display:inline-block;vertical-align:middle}
.nav{font-size:0;}
.nav._inline .nav-i{display:inline-block}
.nav._middled .nav-i{vertical-align:middle}
.nav-i{font-size:1rem}
.nav:before{position:relative;height:100%;content:"";display:inline-block;vertical-align:middle}
.popup{position:fixed;top:0;left:0;right:0;bottom:0;margin:auto;width:100%;height:100%;background:rgba(0,0,0,0.85);z-index:10;visibility:hidden;opacity:0;transition:all .5s}
.popup._open{visibility:visible;opacity:1}
.slide{margin:0;padding:0;}
.slide:first-child{opacity:1;visibility:visible}
.slides-pag{margin:0;padding:0;list-style:none}
.thumb{margin:0;padding:0;text-align:center;font-size:0;}
.thumb-pic{max-width:100%}
.thumb._left{text-align:left}
.thumb._right{text-align:right}
.paging{font-size:0}
.paging-i{display:inline-block;vertical-align:middle;font-size:16px;position:relative}
.paging-i._step{width:auto;padding:0 15px}
.paging-i._step._prev{margin-right:4px}
.paging-i._step._next{margin-left:8px}
.paging-i._dis{opacity:.5;cursor:default}
.paging-i._act{cursor:default}
.paging-i._dis:hover,.paging-i._act:hover{color:#000}
.paging-i-ico{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:8px;height:11px;background:url("../img/paging-arrs.png") 0 0 no-repeat}
.paging-i-ico._left{background-position:0 0}
.paging-i:hover .paging-i-ico._left{background-position:0 bottom}
.paging-i-ico._right{background-position:right 0}
.paging-i:hover .paging-i-ico._right{background-position:right bottom}
.paging-i._dis:hover .paging-i-ico._right{background-position:right 0}
.paging-i._dis:hover .paging-i-ico._left{background-position:0 0}
.form-input{box-sizing:border-box}
.form-input_checkbox{width:auto}
.icolink{display:inline-block;border-bottom:0;white-space:nowrap}
.icolink._top,.icolink._bottom{display:inline}
img.icolink-ico._top,img.icolink-ico._bottom{display:block}
.icolink-tx{border-bottom:1px solid rgba(71,88,165,0.5);white-space:normal}
.icolink:hover .icolink-tx{border-bottom:1px solid #4758a5}
.icolink-ico{max-width:100%}
.icolink-ico._left{margin-right:.25em}
.icolink-ico._right{margin-left:.25em}
.tabcont{display:none}
.tabcont._act{display:block}
.tabs._inline{display:inline-block}
.tab._inline{display:inline-block}
.slider{position:relative;width:100%;overflow:hidden;margin-bottom:20px}
.slider-arr{position:absolute;top:50%;width:50px;height:50px;background:#000;z-index:1;transform:translateY(-50%);}
.slider-arr._left{left:0}
.slider-arr._right{right:0}
.slider-viewPort{position:relative;max-width:1045px;width:100%;margin:0 auto}
.slider-movingPart{position:relative;left:0;white-space:nowrap;font-size:0;width:100%;}
.slider-movingPart._animated{transition:all .6s}
.slider-i{display:inline-block;vertical-align:top;width:100%;padding:0 15px;box-sizing:border-box;font-size:16px;white-space:normal;overflow:hidden;opacity:.5;transition:all .6s;}
.slider-i._act{opacity:1}
.slider-i-bg{width:100%;transform:translateZ(0);box-shadow:0 3px 4px rgba(0,0,0,0.1)}
@media (max-width: 480px){.slider-arr{display:none}
.slider-viewPort{overflow-x:scroll}
.slider-movingPart{transform:none !important}
.slider-i{opacity:1}
}.c-sidebar{background:#1f1f1f;width:280px;height:100%;position:fixed;top:0;left:0;box-sizing:border-box;padding-top:100px;padding-left:67px}
.g-nav-i{margin-bottom:30px}
.g-nav-i-ln{border-bottom:none;color:#cdcdcd;font-family:arial,sans-serif;font-size:15px;transition:all .3s}
.g-nav-i-ln:hover{color:#fff;border-bottom:none}
.social-i{display:inline-block;cursor:pointer;margin-left:25px}
.social-i._conts{-webkit-transform:scale(1.8);-moz-transform:scale(1.8);-ms-transform:scale(1.8);-o-transform:scale(1.8);transform:scale(1.8);margin-left:4rem}
.social-i svg{max-height:2rem;max-width:2rem}
.social-i:first-child{margin-left:0}
.social-i path{-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.social-i:hover .menu-fb-path{fill:#3b5998}
.social-i:hover .menu-tw-path{fill:#00acee}
.social-i:hover .menu-yt-path{fill:#af100a}
.g-nav-footer{position:absolute;bottom:2.5%;left:67px;text-align:center;padding-bottom:70px}
.logo._sidebar{position:absolute;top:23px;width:161px;left:67px;height:29px}
.langSelect-l{position:absolute;left:0;bottom:18px;width:100%}
.langSelect-l-i{width:100%;box-sizing:border-box;padding:9px 11px 8px;color:#cdcdcd;font-family:arial,sans-serif;font-size:15px;line-height:1;border-bottom:none}
.langSelect-l-i._act{background:#fff;color:#000}
.langSelect-l-i:not(._act):hover{color:#fff;border-bottom:none}
.c-header{position:fixed;padding-top:20px;padding-left:17px;top:0;left:0}
.portfolio-btn{position:absolute;top:23px;left:68px;background-color:#000;color:#fff;text-decoration:none;padding:6px 14px;font-weight:bold;border-bottom:none;box-shadow:0 0 0 1px rgba(248,248,248,0.6);transform:trnaslateZ(0);will-change:box-shadow,transform,opacity;transition:all .5s;}
.portfolio-btn._shifted{transform:translateX(300px) translateZ(0);opacity:0;visibility:hidden}
.c-navicon{width:33px;height:34px;display:inline-block;border:none;vertical-align:middle;margin-right:18px;background-color:transparent;transition:all .4s;}
.c-navicon-dash{height:6px;margin-top:5px;width:31px;left:1px;position:relative;box-sizing:border-box;display:block;background-color:#000;box-shadow:0 0 0 1px rgba(248,248,248,0.6);transition:all .4s;will-change:transform;}
.c-navicon-dash:first-child{margin-top:0}
.c-navicon._open .c-navicon-dash{background:#fff;box-shadow:none}
.c-navicon._open .c-navicon-dash._1{transform:rotate(45deg) translateX(7.7px) translateY(7.5px) scale(.7)}
.c-navicon._open .c-navicon-dash._2{opacity:0;transform:scale(.7)}
.c-navicon._open .c-navicon-dash._3{transform:rotate(-45deg) translateX(8px) translateY(-8px) scale(.7)}
.c-navicon:not(._open):hover .c-navicon-dash._2{transform:translateY(2px);transition:all .4s cubic-bezier(.17,.67,.4,1.92)}
.c-navicon:not(._open):hover .c-navicon-dash._3{transform:translateY(5px);transition:all .4s cubic-bezier(.17,.67,.4,1.92)}
.c-navicon._open:hover{transform:rotate(90deg)}
html,body{margin:0;padding:0;width:100%;overflow:auto;overflow-x:hidden}
html._overflowed{overflow:hidden}
body{font:14px 'Roboto',Arial,sans-serif;font-weight:300;color:#1b2024;background-color:#f8f8f8;min-height:100vh;width:100%;box-sizing:border-box}
a{color:#ff5346}
.wrp{width:100%;transform:translateZ(0);transition:all .5s;background:#f8f8f8}
.wrp._menu-open{transform:translateX(280px) translateZ(0)}
.titleslide{height:100vh;background:url("../img/logo.svg") center center no-repeat;position:relative}
.titleslide-slogo{text-transform:uppercase;color:#777;letter-spacing:.3px;font-size:1.4rem;text-align:center;top:66%;position:absolute;left:0;width:100%;font-weight:300}
.gonext{width:100px;position:absolute;bottom:5%;text-align:center;left:0;right:0;margin:auto;font-weight:600;text-transform:uppercase;cursor:pointer;transition:all .6s;will-change:transform,opacity;transform:translateZ(0)}
.gonext._hidden{opacity:0;transform:translateY(100%) translateZ(0)}
.gonext-ico{margin-top:15px}
.gonext:hover .gonext-ico{animation:gonextBounce 1s infinite linear}
.slide-t{font-size:56px;text-align:center;font-weight:900;margin-bottom:55px}
.slide-t._left{text-align:left;margin-bottom:36px}
.mb_shifted{margin-bottom:32px}
.slide-tx{font-size:17px;line-height:24px;margin-bottom:27px}
.competence{padding-top:100px;padding-bottom:100px}
.competence-ico{text-align:center;margin-bottom:65px}
.competence-i-t{font-size:27px;line-height:18px;font-weight:900}
.competence-i-tx{font-weight:400;line-height:1.5}
.howwework{padding-top:100px;padding-bottom:100px;min-height:877px}
.howwework .section-c{position:relative}
.designslide{padding-top:100px;padding-bottom:240px}
.technoslide{max-width:1300px;margin:auto;padding-top:132px;padding-bottom:219px}
.processes{padding-top:112px;padding-bottom:100px}
.portfolio{padding-top:92px}
.portfolio .section-c{max-width:none;padding:0}
.processes .section-c{background:url("../img/process-pattern.png") 30px 50px no-repeat}
.clients{padding-top:100px;padding-bottom:100px}
.section._black{background-color:#160808;color:#fff}
.section-c{max-width:1300px;margin:auto;padding:0 30px}
.webstorm-preview{text-align:center}
.technoslide-t{font-size:1.9rem;font-weight:900;margin-bottom:25px}
.webstorm-preview{margin-bottom:99px}
.webstorm-preview-media{margin-bottom:23px}
.portfolio-preview{overflow:hidden;position:relative;display:block;border-bottom:none}
.portfolio-preview._par{overflow:visible}
.portfolio-preview._par:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:3;opacity:0;transition:all .5s}
.portfolio-preview img{transform:scale(1) translateZ(0);transition:all .6s}
.portfolio-preview._left img{transform-origin:0% 50%}
.portfolio-preview._center img{transform-origin:50% 50%}
.portfolio-preview._right img{transform-origin:100% 50%}
.portfolio-preview:hover img{transform:scale(1.2) translateZ(0)}
.portfolio-preview._par:hover:before{opacity:1}
.portfolio-preview:hover{border-bottom:none}
.portfolio-i-desc{position:absolute;opacity:0;z-index:4;top:0;left:0;color:#fff;width:100%;height:100%;transition:all .8s .1s;font-weight:300;text-align:center}
.portfolio-i-desc:before{content:"";display:inline-block;vertical-align:middle;height:100%;position:relative;margin-left:-1em}
.portfolio-i-desc-wrp{display:inline-block;vertical-align:middle}
.portfolio-i-t{text-transform:uppercase;font-size:32px;width:100%;transform:translateY(-30px) scale(1.5);transition:all 1s;font-family:'futura',sans-serif;font-weight:bold}
.portfolio-i-tx{font-weight:300;font-size:20px;transition:all .5s 0;transform:translateY(50px);opacity:0;font-family:arial,sans-serif}
.portfolio-preview:hover .portfolio-i-desc{opacity:1}
.portfolio-preview:hover .portfolio-i-t{transform:translateY(0) scale(1)}
.portfolio-preview:hover .portfolio-i-tx{transform:translateY(7px) scale(1);opacity:1;transition:all .4s .3s}
.howwework-pattern{position:absolute;left:30px;top:470px;width:1056px;height:505px;background:url("../img/line.svg") 0 center no-repeat}
.howwework-pattern-i{position:absolute}
.howwework-pattern-i._1{bottom:0;left:0}
.howwework-pattern-i._2{top:122px;left:73px}
.howwework-pattern-i._3{bottom:0;left:321px}
.howwework-pattern-i._4{top:67px;left:431px}
.howwework-pattern-i._5{top:0;right:0}
.howwework-title-pic img{width:780px}
.section-t._bigger{font-size:56px;margin-bottom:36px}
.ba_txblock{margin-top:26px}
.ba_result_txblock{margin-top:184px}
.scrum-txblock{margin-top:177px}
.popup{perspective:2000px;overflow:auto;transform:translateZ(0);will-change:transform,opacity}
.project{background:#fff;width:1220px;margin:0 auto;padding:0 73px;box-sizing:border-box;transition:all 1.5s ease;transform:scale(1) translateY(1000px) translateZ(0) rotateX(-50deg);opacity:0;transform-origin:50% 0%;will-change:transform,opacity}
.project._open{transform:scale(1) translateY(0) rotateX(0) translateZ(0);opacity:1;will-change:transform,opacity}
.project._act{transform:scale(1) translateY(0) rotateX(0) translateZ(0);opacity:1;transition:none}
.project-wrp{padding-top:50px}
.project-wrp._hidding{transition:transform .7s;transform:translateY(-101vh);will-change:transform}
.project-wrp._opening{transition:transform .7s;transform:translateY(-100vh);will-change:transform}
.project-header{height:71px;width:100%;padding:0 73px;margin-left:-73px;margin-bottom:30px;position:relative}
.project-descrbox{padding-bottom:40px}
.back_btn{background:#000;position:absolute;right:0;top:0;height:70px;width:70px;color:#cdcdcd;font-size:90px;line-height:0;font-weight:100;text-align:center;text-transform:uppercase;font-family:roboto,arial,sans-serif;cursor:pointer}
.back_btn .back_btn-ico{transition:color .3s;top:-20px;line-height:1;position:relative}
.back_btn:hover .back_btn-ico{color:#fff}
.project-descr{font-size:21px;line-height:23px;font-weight:bold;margin-bottom:15px;max-width:830px}
.project-t{font-size:56px;line-height:1.1em;margin-bottom:40px;font-weight:bold;max-width:830px}
.project-tx{font-size:17px;line-height:23px;margin-bottom:15px;max-width:830px}
.project-c img{max-width:1220px;display:block;margin-left:-73px}
.project-next{padding:40px 73px 30px;text-align:center;color:#fff;text-decoration:none;border-bottom:none;display:block;max-width:1220px;margin:0 auto 64px;box-sizing:border-box;transition:all .4s;position:relative}
.project-next:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.8);z-index:2;transition:all .3s;will-change:background}
.project-next:hover:after{background:rgba(23,33,59,0.8)}
.project-next-t{position:relative;z-index:3;font-size:21px;line-height:23px;font-weight:600;margin-bottom:5px}
.project-next-descr{position:relative;z-index:3;font-size:15px;line-height:23px}
.spinner{margin:auto;width:300px;height:100px;text-align:center;font-size:10px;position:fixed;top:0;bottom:0;left:0;right:0;z-index:11}
.spinner > div{background-color:#fff;height:100%;width:12px;margin-left:6px;display:inline-block;animation:stretchdelay 1.2s infinite ease-in-out}
.spinner > div:first-child{margin-left:0}
.spinner .rect2{animation-delay:-1.1s}
.spinner .rect3{animation-delay:-1s}
.spinner .rect4{animation-delay:-.9s}
.spinner .rect5{animation-delay:-.8s}
.clients-l{max-width:1200px;margin:20px auto 0;text-align:center;font-size:17px;line-height:30px;font-family:arial,sans-serif}
.clients-l-i{display:inline-block;width:32%;box-sizing:border-box;text-align:left}
.contacts-bg{position:absolute;top:0;bottom:0;left:0;right:0;opacity:0;background-size:cover;background-position:center center;background-repeat:no-repeat;transform:scale(1.4);transition:all 1s ease;will-change:transform,opacity}
.screen{overflow:hidden}
.contacts.screen{position:relative;height:100vh}
.contacts-bg._minsk{background-image:url("../img/minsk-bg.jpg")}
.contacts-bg._ny{background-image:url("../img/ny-bg.jpg")}
.contacts-bg._act{transform:scale(1);opacity:1}
.processes.screen .section-c{position:relative}
.processes-tx{position:absolute;top:305px;font-family:'futura',sans-serif;font-size:26px;font-weight:600;white-space:nowrap}
.processes-tx._begin{left:40px}
.processes-tx._end{left:990px}
.project-descr-date,.project-descr-lnks,.project-descr-ln{margin-bottom:10px;font-size:17px;line-height:1.3em;font-family:arial,sans-serif;font-weight:normal}
.project-descr-lnks{float:left}
.project-descr-ln{overflow:hidden}
.project-descr-date{margin-bottom:27px}
.contacts__holder{position:relative;z-index:2}
.contacts-tel{font-family:'futura',sans-serif;font-weight:bold;font-size:56px;line-height:64px}
.contacts-mail{font-family:'futura',sans-serif;font-weight:bold;font-size:47px;line-height:47px;display:inline-block;color:#000;border-bottom-color:rgba(0,0,0,0.5)}
.contacts-mail:hover{border-bottom-color:#000;color:#010101}
.social-list._conts{position:absolute;bottom:26%;left:62.5%}
.contacts__holder{position:relative;top:50px}
.contacts-tab{font-size:26px;line-height:1;font-family:'futura',sans-serif;font-weight:bold;padding:18px 30px 16px;display:inline-block}
.contacts-tab._act{background:#010101;color:#fff}
.contacts-tab-tx{transition:all .3s;border-bottom:1px solid transparent}
.contacts-tab:not(._act) .contacts-tab-tx{cursor:pointer}
.contacts-tab:not(._act) .contacts-tab-tx:hover{border-bottom-color:#000}
.contacts-tab:not(._act) .contacts-tab-tx{border-bottom:1px solid rgba(0,0,0,0.3);display:inline-block}
.contacts-tabs{margin-bottom:45px}
.contacts-cont{position:relative}
.contacts-cont-i{position:absolute;top:0;right:0;width:100%;opacity:0;visibility:hidden;transform:translateX(-30%);transition:all .7s;will-change:transform,opacity,visibility}
.contacts-cont-i._act{opacity:1;visibility:visible;transform:translateX(0)}
.contacts-adr{margin-bottom:20px;font-size:16px;line-height:24px}
.contacts-map{display:inline-block;color:#000;border-bottom-color:rgba(0,0,0,0.3);margin-bottom:60px;font-weight:bold}
.contacts-map:hover{border-bottom-color:#000;color:#010101}
.contacts-tel{margin-bottom:30px}
@-moz-keyframes gonextBounce{0%,30%,60%,100%{transform:translateY(0)}
15%{transform:translateY(-5px)}
45%{transform:translateY(-2px)}
}@-webkit-keyframes gonextBounce{0%,30%,60%,100%{transform:translateY(0)}
15%{transform:translateY(-5px)}
45%{transform:translateY(-2px)}
}@-o-keyframes gonextBounce{0%,30%,60%,100%{transform:translateY(0)}
15%{transform:translateY(-5px)}
45%{transform:translateY(-2px)}
}@-ms-keyframes gonextBounce{0%,30%,60%,100%{transform:translateY(0)}
15%{transform:translateY(-5px)}
45%{transform:translateY(-2px)}
}@keyframes gonextBounce{0%,30%,60%,100%{transform:translateY(0)}
15%{transform:translateY(-5px)}
45%{transform:translateY(-2px)}
}@-moz-keyframes stretchdelay{0%,40%,100%{transform:scaleY(.4)}
20%{transform:scaleY(1)}
}@-webkit-keyframes stretchdelay{0%,40%,100%{transform:scaleY(.4)}
20%{transform:scaleY(1)}
}@-o-keyframes stretchdelay{0%,40%,100%{transform:scaleY(.4)}
20%{transform:scaleY(1)}
}@-ms-keyframes stretchdelay{0%,40%,100%{transform:scaleY(.4)}
20%{transform:scaleY(1)}
}@keyframes stretchdelay{0%,40%,100%{transform:scaleY(.4)}
20%{transform:scaleY(1)}
}