html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

html {
	font-size: 100.01%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
}

body {
	min-width 1100px
}

h1, h2, h3, h4, h5, p, fieldset {
	font-weight: normal
}

ul, li {
	list-style-type: none
}

*:focus {
	outline: 0 !important
}

a {
	text-decoration: underline
}

a img {
	border: 0
}

a span {
	cursor: pointer
}

table {
	border-collapse: collapse
}

td {
	vertical-align: top
}

a, input, textarea {
	outline: 0 !important
}

fieldset {
	border: 0
}

input, select {
	vertical-align: middle
}

select, textarea {
	overflow-x: hidden;
	overflow-y: auto
}

textarea {
	resize: none
}

select, input, textarea, button {
	margin: 0;
	padding: 0;
	font: 99% sans-serif
}

label, input[type="button"], input[type="submit"], input[type="reset"], button {
	cursor: pointer
}

input[hidden] {
	display: none
}

button {
	width: auto;
	overflow: visible
}

@import '../blocks/blocks'


html, body
	margin 0
	padding 0
	width 100%
	overflow auto
	overflow-x hidden

html._overflowed
	overflow hidden

body
	font: 14px 'Roboto', Arial, sans-serif;
	font-weight 300
	color #1B2024
	background-color: #f8f8f8
	min-height 100vh
	width: 100%
	box-sizing border-box

a
	color: #FF5346

.wrp
	width 100%
	transform: translateZ(0)
	transition all .5s
	background #f8f8f8


.wrp._menu-open
	transform: translateX(sidebarwidth) translateZ(0)

.titleslide
	height 100vh
	background url("../img/logo.svg") center center no-repeat
	position: relative

.titleslide-slogo
	text-transform: uppercase
	color #777777
	letter-spacing: .3px
	font-size: 1.4rem
	text-align: center
	top 66%
	position: absolute
	left: 0
	width 100%
	font-weight: 300

.gonext
	width 100px
	position: absolute
	bottom: 5%
	text-align: center
	left: 0
	right: 0
	margin: auto
	font-weight: 600
	text-transform: uppercase
	cursor pointer
	transition all .6s
	will-change: transform, opacity
	transform translateZ(0)

.gonext._hidden
	opacity 0
	transform translateY(100%) translateZ(0)

.gonext-ico
	margin-top: 15px

.gonext:hover .gonext-ico
	animation: gonextBounce 1s infinite linear;

@keyframes gonextBounce {
	from, 30%, 60%, to {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-5px);
	}
	45% {
		transform: translateY(-2px);
	}
}

.slide-t
	font-size: 56px
	text-align: center
	font-weight: 900
	margin-bottom: 55px

.slide-t._left
	text-align: left
	margin-bottom: 36px

.mb_shifted
	margin-bottom: 32px

.slide-tx
	font-size: 17px
	line-height: 24px
	margin-bottom: 27px

.competence
	padding-top: 100px
	padding-bottom: 100px

.competence-ico
	text-align: center
	margin-bottom: 65px

.competence-i-t
	font-size: 27px
	line-height: 18px
	font-weight: 900

.competence-i-tx
	font-weight: 400
	line-height: 1.5

.howwework
	padding-top: 100px
	padding-bottom: 100px
	min-height: 877px

.howwework .section-c
	position relative

.designslide
	padding-top: 100px
	padding-bottom: 240px

.technoslide
	max-width maxWidth
	margin: auto
	padding-top: 132px
	padding-bottom: 219px

.processes
	padding-top: 112px
	padding-bottom: 100px

.portfolio
	padding-top: 92px

.portfolio .section-c
	max-width: none
	padding 0

.processes .section-c
	background: url("../img/process-pattern.png") 30px 50px no-repeat

.clients
	padding-top: 100px
	padding-bottom: 100px

.section._black
	background-color #160808
	color: #fff

.section-c
	max-width maxWidth
	margin: auto
	padding 0 30px

.webstorm-preview
	text-align: center

.technoslide-t
	font-size: 1.9rem
	font-weight: 900
	margin-bottom: 25px

.webstorm-preview
	margin-bottom: 99px

.webstorm-preview-media
	margin-bottom: 23px

.portfolio-preview
	overflow hidden
	position: relative
	display: block
	border-bottom: none

.portfolio-preview._par {
	overflow visible
}

.portfolio-preview._par:before
	content ""
	position absolute
	top: 0
	left: 0
	width 100%
	height 100%
	background rgba(0, 0, 0, 0.8)
	z-index 3
	opacity 0
	transition all .5s

.portfolio-preview img
	transform scale(1) translateZ(0)
	transition all .6s;

.portfolio-preview._left img
	transform-origin 0% 50%

.portfolio-preview._center img
	transform-origin 50% 50%

.portfolio-preview._right img
	transform-origin 100% 50%

.portfolio-preview:hover img
	transform scale(1.2) translateZ(0)

.portfolio-preview._par:hover:before
	opacity: 1

.portfolio-preview:hover
	border-bottom: none

.portfolio-i-desc
	position absolute
	opacity: 0
	z-index 4
	top: 0
	left: 0
	color #ffffff
	width 100%
	height: 100%
	transition all .8s .1s
	font-weight: 300
	text-align: center

.portfolio-i-desc:before
	content ""
	display: inline-block
	vertical-align: middle
	height: 100%
	position: relative
	margin-left: -1em

.portfolio-i-desc-wrp
	display: inline-block
	vertical-align: middle

.portfolio-i-t
	text-transform: uppercase
	font-size: 32px
	width 100%
	transform translateY(-30px) scale(1.5)
	transition all 1s
	font-family: 'futura', sans-serif
	font-weight: bold


.portfolio-i-tx
	font-weight: 300
	font-size: 20px
	transition all .5s 0s
	transform translateY(50px)
	opacity 0
	font-family: arial, sans-serif

.portfolio-preview:hover .portfolio-i-desc
	opacity 1

.portfolio-preview:hover .portfolio-i-t
	transform translateY(0) scale(1)

.portfolio-preview:hover .portfolio-i-tx
	transform translateY(7px) scale(1)
	opacity 1
	transition all .4s .3s

.howwework-pattern
	position: absolute
	left 30px
	top: 470px
	width 1056px
	height 505px
	background url("../img/line.svg") 0 center no-repeat

.howwework-pattern-i
	position absolute

.howwework-pattern-i._1
	bottom: 0
	left: 0

.howwework-pattern-i._2
	top: 122px
	left: 73px

.howwework-pattern-i._3
	bottom: 0
	left: 321px

.howwework-pattern-i._4
	top: 67px
	left: 431px

.howwework-pattern-i._5
	top: 0
	right: 0

.howwework-title-pic img
	width 780px

.section-t._bigger
	font-size: 56px
	margin-bottom: 36px

.ba_txblock
	margin-top: 26px

.ba_result_txblock
	margin-top: 184px

.scrum-txblock
	margin-top: 177px

.popup
	perspective 2000px
	overflow auto
	transform translateZ(0)
	will-change: transform, opacity;


.project
	background: #ffffff
	width 1220px
	margin: 0 auto
	padding 0 73px
	box-sizing border-box
	transition: all 1.5s ease
	transform scale(1) translateY(1000px) translateZ(0) rotateX(-50deg)
	opacity 0
	transform-origin 50% 0%
	will-change: transform, opacity;

.project._open
	transform scale(1) translateY(0) rotateX(0deg) translateZ(0)
	opacity 1
	will-change: transform, opacity;

.project._act
	transform scale(1) translateY(0) rotateX(0deg) translateZ(0)
	opacity 1
	transition none

.project-wrp
	padding-top: 50px

.project-wrp._hidding
	transition transform .7s
	transform: translateY(-101vh)
	will-change: transform;

.project-wrp._opening
	transition transform .7s
	transform: translateY(-100vh)
	will-change: transform;

.project-header
	height 71px
	width 100%
	padding 0 73px
	margin-left: -73px
	margin-bottom: 30px
	position: relative

.project-descrbox
	padding-bottom: 40px

.back_btn
	background #000000
	position: absolute
	right: 0
	top: 0
	height: 70px
	width 70px
	color #cdcdcd
	font-size: 90px
	line-height: 0
	font-weight: 100
	text-align: center
	text-transform: uppercase
	font-family: roboto, arial, sans-serif
	cursor pointer

.back_btn .back_btn-ico
	transition color .3s
	top: -20px
	line-height: 1
	position: relative

.back_btn:hover .back_btn-ico {
	color: #ffffff
}

.project-descr
	font-size: 21px
	line-height: 23px
	font-weight: bold
	margin-bottom: 15px
	max-width 830px

.project-t
	font-size: 56px
	line-height: 1.1em
	margin-bottom: 40px
	font-weight: bold
	max-width 830px

.project-tx
	font-size: 17px
	line-height: 23px
	margin-bottom: 15px
	max-width 830px


.project-c img
	max-width 1220px
	display: block
	margin-left: -73px

.project-next
	padding 40px 73px 30px
	text-align: center
	color #ffffff
	text-decoration: none
	border-bottom: none
	display: block
	max-width 1220px
	margin: 0 auto 64px
	box-sizing border-box
	transition all .4s
	position: relative

.project-next:after
	content ''
	position absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background rgba(0, 0, 0, 0.8)
	z-index 2
	transition all .3s
	will-change background

.project-next:hover:after
	background rgba(23, 33, 59, 0.8)

.project-next-t
	position: relative
	z-index 3
	font-size: 21px
	line-height: 23px
	font-weight: 600
	margin-bottom: 5px

.project-next-descr
	position: relative
	z-index 3
	font-size: 15px
	line-height: 23px


.spinner {
	margin: auto;
	width: 300px;
	height: 100px;
	text-align: center;
	font-size: 10px;
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index 11
}

.spinner > div {
	background-color: #ffffff;
	height: 100%;
	width: 12px;
	margin-left: 6px
	display: inline-block;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner > div:first-child {
	margin-left: 0
}

.spinner .rect2 {
	animation-delay: -1.1s;
}

.spinner .rect3 {
	animation-delay: -1.0s;
}

.spinner .rect4 {
	animation-delay: -0.9s;
}

.spinner .rect5 {
	animation-delay: -0.8s;
}


@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
	}
	20% {
    	transform: scaleY(1.0);
  	}
}

.clients-l
	max-width: 1200px;
	margin: 20px auto 0
	text-align: center
	font-size: 17px
	line-height: 30px
	font-family: arial, sans-serif

.clients-l-i
	display: inline-block
	width: 32%
	box-sizing border-box
	text-align: left

.contacts-bg
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	opacity 0
	background-size: cover
	background-position: center center
	background-repeat no-repeat
	transform: scale(1.4)
	transition: all 1s ease
	will-change: transform, opacity

.screen
	overflow hidden

.contacts.screen
	position: relative
	height 100vh

.contacts-bg._minsk
	background-image: url(../img/minsk-bg.jpg)

.contacts-bg._ny
	background-image: url(../img/ny-bg.jpg)

.contacts-bg._act
	transform scale(1)
	opacity 1

.processes.screen .section-c
	position: relative

.processes-tx
	position absolute
	top: 305px
	font-family: 'futura', sans-serif
	font-size: 26px
	font-weight: 600
	white-space: nowrap

.processes-tx._begin
	left: 40px

.processes-tx._end
	left: 990px

.project-descr-date, .project-descr-lnks, .project-descr-ln
	margin-bottom: 10px
	font-size: 17px
	line-height: 1.3em
	font-family: arial, sans-serif
	font-weight: normal

.project-descr-lnks
	float: left

.project-descr-ln
	overflow hidden

.project-descr-date
	margin-bottom: 27px

.contacts__holder
	position: relative
	z-index: 2

.contacts-tel
	font-family: 'futura', sans-serif
	font-weight: bold
	font-size: 56px
	line-height: 64px

.contacts-mail
	font-family: 'futura', sans-serif
	font-weight: bold
	font-size: 47px
	line-height: 47px
	display: inline-block
	color: #000000
	border-bottom-color: rgba(0,0,0,0.5)


.contacts-mail:hover
	border-bottom-color: rgba(0,0,0,1)
	color: #010101

.social-list._conts
	position: absolute
	bottom 26%
	left: 62.5%

.contacts__holder
	position: relative
	top: 50px

.contacts-tab
	font-size: 26px
	line-height: 1
	font-family: 'futura', sans-serif
	font-weight: bold
	padding 18px 30px 16px
	display: inline-block

.contacts-tab._act
	background #010101
	color: #ffffff

.contacts-tab-tx
	transition: all .3s
	border-bottom: 1px solid transparent

.contacts-tab:not(._act) .contacts-tab-tx
	cursor pointer

.contacts-tab:not(._act) .contacts-tab-tx:hover
	border-bottom-color: rgba(0,0,0,1)

.contacts-tab:not(._act) .contacts-tab-tx
	border-bottom: 1px solid rgba(0,0,0,0.3)
	display: inline-block

.contacts-tabs
	margin-bottom: 45px

.contacts-cont
	position: relative

.contacts-cont-i
	position: absolute
	top: 0
	right: 0
	width 100%
	opacity 0
	visibility: hidden
	transform translateX(-30%)
	transition all .7s
	will-change: transform, opacity, visibility

.contacts-cont-i._act
	opacity 1
	visibility: visible
	transform translateX(0)

.contacts-adr
	margin-bottom: 20px
	font-size: 16px
	line-height: 24px

.contacts-map
	display: inline-block
	color: #000000
	border-bottom-color: rgba(0, 0, 0, 0.3)
	margin-bottom: 60px
	font-weight: bold
	
.contacts-map:hover
	border-bottom-color: rgba(0, 0, 0, 1)
	color: #010101

.contacts-tel
	margin-bottom: 30px


