mixin breadcrumbs(o)
	- var mod= o.mod?" "+o.mod:""
	- var name= o.name?" "+o.name:""
	- var data= o.data?o.data:[{name: "Раздел", src: "#"},{name: "Подраздел", src: "#"},{name: "Страница", src: "#", act: "true"},]


	nav(class="breadcrumbs"+name+mod)
		for item in data
			if (item.act == 'true')
				span(class="breadcrumbs-ln _act") !{item.name}
			else
				+link({href:item.src,name: "breadcrumbs-ln"}) !{item.name}
				span.breadcrumbs-ln-separ

